body {
    background: lightblue;
    padding: 10px;
}

header {
    font-size: 40px;
    color: teal;
}

.container {
    width: 1500px;
}

#userProfile {
    border: solid 3px;
    width: 600px;
    height: 300px;
    font-size: 20px;
    padding-left: 10px;
}

#userVideos {
    border: solid 3px;
    width: 600px;
    height: 100%;
    font-size: 20px;  
    margin-top: 10px;
    padding-left: 10px;
}

#userImages {
    border: solid 3px;
    width: 600px;
    height: auto;
    font-size: 20px;  
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    /* float: left;  */
}

#fitMetric {
    border: solid 3px;
    width: 600px;
    height: auto;
    font-size: 20px;  
    margin-left: 10px;
    padding-left: 10px;
}

#chart {
    height: 200px;
    width: 400px;
    border: solid 2px;
}

img {
    width: 250px;
    height: 250px;
    padding: 3px;
}

iframe {
    height: 50%;
    width: 50%;
    float: left;
    padding: 3px;
}