body {
    background-image: url("https://wallpaper-house.com/data/out/10/wallpaper2you_424789.jpg");
    font-family: Arial, Helvetica, sans-serif;
    background-repeat:no-repeat;
    background-size: cover;
    /* background-size: contain; */
    /* background-position: center; */
    padding-left: 20px; 
    /* width: 100%; */
}

header {
    /* border: solid 3px teal; */
    /* margin-top: none; */
    /* width: 1150px; */
    /* padding: 10px; */
    height: 40px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px gray;
    padding: 10px;
    margin-bottom: 20px;
    background: linear-gradient(rgb(38, 108, 248), rgb(10, 10, 40));    
    border-bottom: solid 10px white;
    border-style: double;
    /* position: ?; */
}

footer {
    text-align: center;
    text-align: bottom; 
    background: linear-gradient(rgb(38, 108, 248), rgb(10, 10, 40));    
    border-top: solid 10px white;
    border-style: double;
    /* border-top: 8px #4aaaa5 solid; */
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 10px;
    padding-top: 30px;
    padding-bottom: 5px;
    /* position: fixed; */
    width: 100%;
    left: 0;
    bottom: 0;
    clear: both;
    /* margin-top: 20px; */
    margin-left: 15px;
} 

#headerTitleDiv {
    float: left;
    font-size: 35px;
}

#formDiv {
    float: right;
    font-size: 15px;
}

.wrapper {
    margin: 8px;
}

.divSection {
    /* font-size: 20px; */
    /* font-weight: bold; */
    /* padding: 5px; */
    border: solid 3px lightslategray;
    float: left;
    margin: 5px;
    background: white;
}

.section-title {
    font-weight: bold;
}

#profilePhoto {
    height: 200px;
    width: 200px;
    margin-right: 10px;
    float: left;
    border: solid 1px lightgray;
    /* box-sizing: border-box; */
}

#profileInfo {
    /* border: solid 2px; */
    float: left;
    margin-left: 10px;
    /* line-height: 1.6; */
}

#userProfileDiv {
    width: 600px;
    height: 300px;
    font-size: 20px;
    /* padding-left: 10px; */
    float: left;
    overflow: scroll;
}

#fitMetricDiv {
    width: 600px;
    height: 300px;
    font-size: 20px;  
    float: left;
    /* overflow: scroll; */
}

#fitCommunityDiv {
    width: 270px;
    height: 300px;
    font-size: 20px;  
    float: left;
    overflow: scroll;
}

#journalNotesDiv {
    width: 600px;
    height: 600px;
    font-size: 20px;  
    /* margin-top: 10px; */
    /* padding-left: 10px; */
    overflow: scroll;
    float: left;
}

#userVideosDiv {
    width: 600px;
    height: 600px;
    font-size: 20px;
    overflow: scroll;
}

#userImagesDiv {
    width: 600px;
    height: 600px;
    font-size: 20px;  
    overflow: scroll;
    float: left; 
}


#nutritionImagesDiv {
    width: 600px;
    height: 600px;
    font-size: 20px;  
    overflow: scroll;
    float: left;
}

#chart {
    height: 200px;
    width: 400px;
    border: solid 2px;
}

img {
    width: 250px;
    height: 250px;
    /* padding: 3px; */
}

iframe {
    height: 250px;
    width: 250px;
    /* float: none; */
    padding: 3px;
    display: inline-block;
}

h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* text-shadow: 2px 2px gray; */
}

p, tr {
    font-size: 15px;
    width: auto;
    line-height: 1.6;
}

.section-header-div {
    /* width: inherit; */
    /* margin: none; */
    /* position: absolute; */
    /* position: relative; */
    height: 20px;
    padding: 10px;
    background: lightblue;
}

.search-field-section{
    float: right;
    
}

.section-content-div {
    margin: 10px;
}

.section-title-div {
    float: left;
    width: auto;
}

tr, th {
    border: solid 2px lightgray;
    text-align: left;
    padding: 1px;

}

#journal-title {
    width: 100px;
    font-weight: bold;
}

#journal-texts {
    width: 400px;
}