body {
    background: lightblue;
    padding: 0px 10px 10px 10px; 
    width: 100%;
}

header {
    border: solid 3px teal;
    margin-top: none;
    width: 1150px;
    padding: 10px;
    height: 100px;
}

#headerTitleDiv {
    float: left;
}

#formDiv {
    float: right;
}

/* h1 {
    font-size: 40px;
    color: teal;
} */

.container {
    width: 1500px;
}

/* .formContainer {
    float: right;
} */

#userProfile {
    border: solid 3px;
    width: 600px;
    height: 300px;
    font-size: 20px;
    padding-left: 10px;
}

#userVideos {
    border: solid 3px;
    width: 600px;
    height: 100%;
    font-size: 20px;  
    margin-top: 10px;
    padding-left: 10px;
    overflow: scroll;
}

#userImages {
    border: solid 3px;
    width: 600px;
    height: auto;
    font-size: 20px;  
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    overflow: scroll;
    /* float: left;  */
}

#fitMetric {
    border: solid 3px;
    width: 600px;
    height: auto;
    font-size: 20px;  
    margin-left: 10px;
    padding-left: 10px;
    /* overflow: scroll; */
}

#journalNotes {
    border: solid 3px;
    width: 600px;
    height: 600px;
    font-size: 20px;  
    margin-top: 10px;
    padding-left: 10px;
    overflow: scroll;
}

#nutritionImages {
    border: solid 3px;
    width: 600px;
    height: auto;
    font-size: 20px;  
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    overflow: scroll;
}

#chart {
    height: 200px;
    width: 400px;
    border: solid 2px;
}

img {
    width: 250px;
    height: 250px;
    padding: 3px;
}

iframe {
    height: 50%;
    width: 50%;
    float: left;
    padding: 3px;
}